@charset "UTF-8";

/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2018-06-08 08:20:37
 * @version $Id$
 */
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 1200px !important;
}

.search {
    display: flex;
    justify-content: center;
    position: relative;
    top: 33.2%;
}

.search input, button {
    border: none;
    outline: none;
}

.search input {
    width: 51.8%;
    height: 48px;
    padding-left: 13px;
    border: 2px solid #7BA7AB;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: black;
    font-size: 16px;
}

.search button {
    height: 48px;
    width: 48px;
    cursor: pointer;
    top: 0;
    right: 0;
    background: #7BA7AB;
    border-radius: 0 5px 5px 0;
}

.search button:before {
    font-size: 16px;
    color: #F9F0DA;
}

.head {
    width: 100%;
    height: 45px;
    background: #222222;
    display: flex;
    align-items: center;
    z-index: 9999;
    margin: 0;
}

.login, .sign {
    width: 68px;
    height: 32px;
    margin-right: 5px;
    background: #27AE60;
    font-size: 14px;
    padding: 0;
    border-radius: 5px;
    color: #dddddd;
}

.nav {

    /*width: 100px;*/
    height: 35px;
    margin-left: 20px;
    padding: 4px 10px 4px 10px;
    line-height: 24px;
    font-size: 18px;
    text-decoration: none;
    color: #dddddd;
    display: flex;
    align-items: center;
}

.login-form-mask {
    z-index: 9998;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.4;
    filter: alpha(opacity=40);
    display: none
}

.login-form {
    z-index: 9999;
    position: fixed;
    top: 40%;
    left: 55%;
    width: 500px;
    height: 500px;
    margin: -180px 0 0 -330px;
    border-radius: 5px;
    border: solid 2px #666;
    background-color: #fff;
    display: none;
    box-shadow: 0 0 10px #666;
}

.login-header {
    height: 30px;
    line-height: 30px;
}

.login-header span {
    padding-left: 10px;
    font-weight: bold;
}

.login-close {
    width: 50px;
    height: 30px;
    margin: 1px 1px 0 0;
    float: right;
}

.login-cnt {
    margin-top: 40px;
}

.login-input {
    text-align: center;
    margin-top: 15px;
}

.login-input span {
    display: block;
    text-align: left;
    padding-left: 105px;
}

.login-input input {
    width: 280px;
    height: 30px;    /*border-radius:5px;*/
    outline: none;
    border: none;
    border-bottom: 1.5px solid #eeeeee;
}

.register {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 800px;
    height: 650px;
    margin: auto;
    border-radius: 5px;
    border: solid 1px #333333;
    text-align: center;
}

.register-input {
    text-align: center;
    margin-top: 35px;
}

.register-input span {
    display: block;
    text-align: left;
    position: relative;
    left: 32%;    /*padding-left: 355px;*/
}

.register-input input {
    width: 280px;
    outline: none;
    border: none;
    border-bottom: 1.5px solid #eeeeee;
}

.register-input textarea {
    width: 280px;
    height: 160px;
}

.register-sex {
    margin-top: 30px;
    text-align: left;
    position: relative;
    left: 32%;    /*padding-left: 355px;*/
}

.register-pic {
    text-align: center;
    margin-top: 20px;
}

.register-pic input {
    width: 280px;
    position: relative;
    left: 32%;    /*padding-left: 355px;*/
}

.register-pic span {
    display: block;
    text-align: left;
    position: relative;
    left: 32%;   /*padding-left: 355px;*/
}

.login-form-btn {
    height: 30px;
    width: 200px;
    background: #4FBF8D;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.btn-group {

    /*text-align: center;*/
    margin-top: 30px;
}

.btn-group a {
    font-size: 12px;
    color: #333333;
    text-decoration: none;
}

.btn-group div {
    margin-top: 10px;
}

.head-search {
    position: relative;
    bottom: 2px;
    margin-top: 4px;
    display: inline-block;
    float: left;
}

.head-search input, button {
    border: none;
    outline: none;
}

.head-searchinput {
    width: 520px;
    height: 28px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    padding-left: 8px;
    margin-left: 20px;
    box-sizing: border-box;
    background: #555555;
    transition: all 0.5s ease;
}

.head-searchbtn {
    position: relative;
    top: 1px;
    height: 28px;
    cursor: pointer;
    border-radius: 0 3px 3px 0;
    background: #555555;
    transition: all 0.5s ease;
}

.question-area {
    margin: 0;
}

.question-head {
    margin: 20px;
}

.question-head span {
    font-size: 30px;
    border-bottom: 3px solid black;
}

.question {
    height: 106px;
    border: 1px solid black;
    margin-top: 21px;
    display: flex;
}

.photo {
    width: 6%;
    padding-bottom: 6%;
    margin: 4px 0 0 4px;
    height: 0;
    background: lightblue;
}

.comm-num {
    font-size: 20px;
    font-weight: bold;
}

.comm-tt {
    font-size: 12px;
}

.cnt {
    width: 94%;    /*background: red;*/
    height: 100%;
    padding-left: 20px;
}

.cnt-title {
    width: 100%;
    font-size: 18px;
    font-weight: bold;
}

.cnt-summary {
    width: 100%;
    font-size: 14px;
    margin-top: 10px;
}

.cnt-info {
    width: 100%;
    margin-top: 21px;
}

.cnt-info > span {
    margin-right: 30px;
}

.cnt-info > a {
    margin-right: 30px;
    color: black;
}

.cnt-info > a:hover {
    text-decoration: none;
    color: red;
}

.ans-btn {
    width: 68px;
    margin-right: 6px;
    float: right;
}

a {
    cursor: pointer;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}
