<div class="ui grid">
    <div class="four wide column"></div>
    <div class="eight wide column">
  
    <% if (success) { %>
      <div class="ui success message">
        <p><%= success %></p>
      </div>
    <% } %>
  
    <% if (error) { %>
      <div class="ui error message">
        <p><%= error %></p>
      </div>
    <% } %>
  
    </div>
  </div>

  <script>
    $(function(){
              /**
        *1.delay函数是jquery 1.4.2新增的函数
        *2.hide函数里必须放一个0,不然延时不起作用
        */
        $('.message').delay(3000).hide(0);
    
    });
  </script>