<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        <%= blog.title %>
    </title>
    <link rel="stylesheet" href="//cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.js"></script>
</head>

<%- include('components/notification') %>

<a href="/">主页</a>
<a href="/com">社区</a>

<% if (user) {%>

    <a href="/signout"></a>
    <% } else { %>
        <a href="/signin">登录</a>
        <a href="/signup">注册</a>
        <% } %>
        <h1>Com</h1>
<%- include('footer') %>