<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Home</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="stylesheet" href="/css/style.css">
    <link href="css/CodingSearch.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/fontawesome-all.min.css">
    <link rel="stylesheet" type="text/css" href="css/iconfont.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="javascripts/CodingSearch.js"></script>
    <link rel="stylesheet" href="css/searchContent.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.css">
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.js"></script>
</head>

<body style="overflow: auto">
    <div class="head">
        <div>
            <a href="/" class="nav">主页</a>
            <a href="/posts" class="nav">社区</a>
        </div>

        <% if (user) {%>
            <div class="nav-setting" style="right: 15px;">
                <div class="ui buttons">
                    <div class="ui floating dropdown button">
                        <i class="icon bars"></i>
                        <div class="menu">
                            <a class="item">欢迎
                                <%= user.name %>
                            </a>
                            <a class="item" href="/posts?author=<%= user._id %>">个人主页</a>
                            <a class="item" href="/setting">个人设置</a>
                            <a class="item" href="/posts/create">发表问题</a>
                            <a class="item" href="/signout">登出</a>
                        </div>
                    </div>
                </div>
            </div>
            <% } else { %>
                <div>
                    <button type="button" class="login" id="signin">登录</button>
                    <a href="/signup">
                        <button type="button" class="sign">注册</button>
                    </a>
                </div>
                <% } %>
    </div>

    <div class="search">
        <input type="text" placeholder="Input your question" id="searchbar">
        <button type="button" class="" id="search-button">
            <i class="iconfont icon-xiazai5"></i>
        </button>
    </div>
<!-- 
    <div class="content" id="content">
    </div> -->
    <div class="cnt" id="content">
            <!-- <div class="cnt-title">
                <a href="#" title="">题目 </a>
            </div>
            <div class="cnt-summary">摘要aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</div> -->

    </div>    
    <%- include('components/notification')  %>
    <div class="login-form">
        <div class="login-header">
            <span>用户登录</span>
            <button type="button" class="login-close">x</button>
        </div>
        <div class="login-cnt">
            <form action="/signin" method="post">
                <div class="login-input">
                    <span>用户名</span>
                    <input type="text" class="uname" id="name" name="username" autocomplete="off" spellcheck="false" placeholder="">
                </div>
                <div class="login-input">
                    <span>密码</span>
                    <input type="password" class="upwd" id="password" name="password" autocomplete="off" spellcheck="false" placeholder="">
                </div>
                <div class="btn-group">
                    <button type="submit" class="login-form-btn" id="submit">登&nbsp;&nbsp;录</button>
                    <div>
                        <a href="/signup" class="" role="button">注册</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script charset="UTF-8" type="text/javascript" src="javascripts/ejs.min.js"></script>
    <script src="javascripts/home.js"></script>
</body>

</html>