<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        <%= blog.title %>
    </title>
    <link rel="stylesheet" href="//cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="javascripts/jquery.js"></script>
    <script src="//cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.js"></script>
</head>

<body>
    <!-- <form  method="post" action="/home">
            <div >
              <input type="text" name="title">
            </div>
            <input type="submit"  value="发布" id="test">
        </form> -->


        <div id="myDiv">
            <h2>通过 AJAX 改变文本</h2>
        </div>
        <button id="testAjax" type="submit">Ajax改变内容</button>

    <!-- <h1>data</h1> -->




    <%- include('components/notification') %>
        <a href="/">主页</a>
        <a href="/posts">社区</a>
        <% if (user) {%>

            <a href="/signout">登出</a>
            <% } else { %>
                <a href="/signin">登录</a>
                <a href="/signup">注册</a>
                <% } %>
                    <h1>hello</h1>
                    <div id="show">

                    </div>
                    <script charset="UTF-8" type="text/template" id="newshow">
                            <% if(data) { %>
                                <% data.forEach(function(dat){  %>
                                    <h1><%= dat.hha %></h1>
                                    <% console.log(dat.hha+'-------------------') %>
                                    <% }) %>
                                    <% } %> 
                    </script>
                    
                    <script charset="UTF-8" type="text/javascript" src="javascripts/ejs.min.js"></script>

                    <script src="javascripts/home.js">
                        
                    </script>



</body>