<a href="/">
  主页</a>
<a href="/posts">社区</a>


<h1>Com</h1>
<br>
<br>
<br>
<%- include('header') %>

  <% posts.forEach(function (post) { %>
    <!-- 传入post变量 -->
    <%- include('components/post-content', { post: post }) %>
      <% }) %>

        <%- include('footer') %>